@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-size:revert;
    font-weight: 800;
}
h2{
    font-size: revert;
    font-weight: bolder;
    color: gray;
    margin-top:10%;
}

.about-center-container{
    border: 4px solid;
}